a:hover{
  text-decoration: none;  
}

.navbar-brand
{
 color: whitesmoke !important;
 font-family: 'Lobster', cursive !important;
}

h6
{
  font-family: 'Raleway', sans-serif !important;
}

h3
{
  font-family: 'Open Sans', sans-serif !important;
}

input[type=text]{
  font-family: 'Raleway', sans-serif !important;
}

.modal-backdrop {
  z-index: 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

input[type="text"],
[type="password"],
input[type="number"] {
  margin-bottom: 15px;
}

.navbar {
  background-color: black;
}

.btn-outline-primary {
  color: #82b7dc;
  border-color: #82b7dc;
  margin-left: 5px;
  margin-right: 5px;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #3466aa;
  border-color: #3466aa;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #3466aa;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #3466aa;
  border-color: #3466aa;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #3466AA;

}
.btn-primary:hover {
  color: #fff;
  background-color: #82B7DC;
  border-color: #0062cc;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #114084;
  border-color: #007bff;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #114084;
  border-color: #005cbf;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
